<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <title th:text="${title + '-' + file}"></title>
    <style type="text/css" th:text="${style}"></style>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>

    <link th:href="@{/static/keep-report/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://at.alicdn.com/t/c/font_3863392_r1svbjsargg.js?spm=a313x.7781069.1998910419.77&file=font_3863392_r1svbjsargg.js"></script>
</head>
<body style="margin:5px">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
        <blockquote class="layui-elem-quote layui-quote-nm" style="padding: 5px;">
            <button type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">
                <svg class="icon" aria-hidden="true" style="font-size: 25px;">
                    <use xlink:href="#icon-PDF"></use>
                </svg>
                <span style="font-size: 18px;">PDF</span>
            </button>
            <button type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">
                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                    <use xlink:href="#icon-excel"></use>
                </svg>
                <span style="font-size: 18px;">EXCEL</span>
            </button>

            <button type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">
                <svg class="icon" aria-hidden="true" style="font-size: 25px;">
                    <use xlink:href="#icon-word"></use>
                </svg>
                <span style="font-size: 18px;">WORD</span>
            </button>
            <button type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">
                <svg class="icon" aria-hidden="true" style="font-size: 25px;">
                    <use xlink:href="#icon-tupian"></use>
                </svg>
                <span style="font-size: 18px;">图片</span>
            </button>
        </blockquote>
    </div>
    <div class="layui-col-md4">
        <div id="pagePlug"></div>
    </div>
</div>

<div class="layui-bg-gray layui-row" style="padding: 30px;" th:utext="${formHtml}"></div>
<div id="_ureport_table" th:style="'float:' + ${reportAlign}" th:utext="${content}"></div>

<script type="text/javascript" th:src="@{/static/ureport-asserts/venderjs/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/keep-report/js/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        layui.use(['laypage', 'layer'], function () {
            var layer = layui.layer;
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'pagePlug'
                , count: 100
                , layout: ['prev', 'next', 'skip']
                ,theme: '#1E9FFF'
                , jump: function (obj) {
                    console.log(obj)
                }
            });

            window.formControlFuns = [];
            eval([[${formJs}]]);
        });
    })
</script>
</body>
</html>